.App {
  font-family: sans-serif;
  text-align: center;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  margin: 0.3rem;
  font-size: 1.8rem;
  font-family: "Times New Roman", Times, serif;
}

.correct{
  background-color: #4dcf22;
}

.close{
  background-color: #FFF57E;
}

.incorrect{
  background-color: #FE6244;
}